/*.margin{
    margin-left: 10%;
    margin-right: 10%;
}*/
body{
    margin: 0;
    padding: 0;
    background-color: #F8F7F3;
}
h1{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #5553CC;
}
h2{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #02030E;
}
h3{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #5553CC;
}
p, label{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: #02030E;
}
label{
    padding-bottom: 8px;
    padding-top: 8px;
}
.btn a, .submit a{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: white;
}
.btn{
    background-color: #5553CC;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 20px;
    margin-bottom: 16px;
}
.navigatie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:16px;
    padding-bottom: 16px;
    margin-right: 30px;
}
.logo{
    margin-left: 8%;
}
.klik {
    display: none;
    transform: translateY(0);
}
.klik.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 240px;
    right: 0;
    background-color: #DDDDF5;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    transform: translateY(-100%);
    overflow: hidden;
}
.klik a{
    text-decoration: none;
    color: #02030E;
    padding: 10px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10%;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}
.intro, .hoe{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.intro__content__kiboe{
    width:100%;
    display: flex;
    justify-content: center;
}
.intro__content__kiboe img{
    width: 80%;
}
.over {
    background-color: #FDE4D3; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
}
.over h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .over__content__kiboe {
    display: flex;
    justify-content: center; 
    align-items: center; 
} */
.over__content__image{
   rotate: 20deg;
}
.hoe__content__step img{
    width: 100%;
    margin-left: -20px;
}
.hoe__content__step.reverse img{
   
    margin-right: -40px;
}
.hoe__content__arrow__right, .hoe__content__arrow__left{
    display: none;
}
.reviews{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #D7EEE8;
}
.reviews_content{
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto; 
}
.reviews__content__single{
    background-color: #f5f5f5;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 16px;
}
.reviews__content__single__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.reviews__content__single__title h2{
    color: #5553CC;
}
.contact{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-color: #DDDDF5;
}
.contact__content__image1, .contact__content__image2{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input, textarea{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.submit{
    background-color: #5553CC;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
footer{
    background-color: #02030E;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer__content{
    margin-left: 10%;
    margin-right: 10%;
}
footer p, footer a, footer h3{
    color: white;
    text-decoration: none;
    font-family: quicksand;
}
.footer__content__links{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.footer__content__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top:-10px;
}
.footer__content__socials{
    margin-bottom: 56px;
}

@media only screen and (min-width: 768px) {
    .klik {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    /* .intro, .over, .hoe, .reviews, .contact{
        padding-left: 20%;
        padding-right: 20%;
    } */

    .intro {
        padding: 1em;
        margin: 1em;
    }
    .intro__content {
        display: flex;
        align-items: flex-start;
    }
    .intro__content__kiboe img {
        width: 250px; 
        margin-right: 60px; 
    }
    .intro__content__text {
        flex-grow: 1;
    }
    .intro__content__text p {
        width: 350px;
    } 
    .over__content {
        display: flex;
        align-items: center; 
    }
    .over__content__text {
        flex-grow: 1; 
        padding-right: 20px; 
    }
    .row {
        display: flex;
        align-items: center; 
    }
    .row img {
        margin-right: 10px; 
    }    
    .over__content__image img{
        width: 100%;
        margin-left: 20px;
    } 
    .over__content__image{
        rotate: -20deg;
    } 
    .hoe {
        position: relative;
    }
    .hoe::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20%; 
        height: 20%;
        background-image: url('../images/planeet_paars.png'); 
        background-size: cover; 
        z-index: -1; 
    }
    .hoe::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%; 
        height: 20%; 
        background-image: url('../images/planeet-oranje.png'); 
        background-size: cover; 
        z-index: -1; 
    }
    .hoe__content {
        padding: 1em;
        margin: 1em;
    }
    .hoe h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .hoe__content__step {
        display: flex;
        flex-direction: row;
    }
    .hoe__content__step img {
        width: 55%; 
    }
    .hoe__content__step__text {
        display: block;
        margin-left: 20px;
        margin-top: 20px;
        width:450px;
    }
    .hoe__content__step.reverse .hoe__content__step__text.reverse h3,
    .hoe__content__step.reverse .hoe__content__step__text.reverse p {
    margin-left: -50px; 
    margin-right: 10px;
    }
    .hoe__content__step .hoe__content__step__text h3,
    .hoe__content__step .hoe__content__step__text p {
    margin-left: 30px; 
    margin-right: 10px;
    }
    .hoe__content__arrow__right, .hoe__content__arrow__left{
        display: flex;
    }
    .hoe__content__arrow__right img, .hoe__content__arrow__left img{
        width: 150px;
    }
    .hoe__content__arrow__right{
        margin-left: 55%;
        margin-top:-5%;
    }
    .hoe__content__arrow__left{
        margin-left: 20%;
        margin-top:-5%;
    }
    .reverse {
        flex-direction: row-reverse; 
        margin-left: 5%;
        margin-top: 20px;
    }
    .reverse .hoe__content__step img {
        margin-left: 5%; 
        margin-right: 0;
    }
    .reverse .hoe__content__step__text {
        margin-left: 0; 
        margin-right: 5%; 
    }
    .reviews h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reviews__content__single{
        width: 50%;
    }
    .reviews__content__single__title h2{
        font-size: 24px;
    }

    .contact {
        position: relative;
    }
    .hoe::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20%; 
        height: 20%;
        background-image: url('../images/planeet_paars.png'); 
        background-size: cover; 
        z-index: -1; 
    }
    .hoe::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%; 
        height: 20%; 
        background-image: url('../images/planeet-oranje.png'); 
        background-size: cover; 
        z-index: -1; 
    }
    .hoe__content {
        padding: 1em;
        margin: 1em;
    }
    #contact {
    position: relative;
    overflow: hidden;
    }
    #contact::before {
        content: ""; 
        position: absolute; 
        top: 60%;
        left: -60px;
        width: 200px; 
        height: 200px; 
        background-image: url('../images/kiboe_sport.svg'); 
        background-position: bottom left; 
        background-repeat: no-repeat;
        transform: rotate(20deg);
    }
    #contact::after {
        content: ""; 
        position: absolute; 
        top: 20%;
        right: -80px;
        width: 200px;
        height: 200px;
        background-image: url('../images/kiboe-huiswerk.svg'); 
        background-position: center right; 
        background-repeat: no-repeat;
        transform: rotate(-20deg);
    }
    .contact h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    .contact__content{
        padding: 1em;
        margin-left: 100px;
        margin-right: 100px;
    }
    .submit{
        width: 50%;
        margin-left: 25%;
    }
    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__content__links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
    }
    .footer__content__socials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -40px;
    }
    
}

@media only screen and (min-width: 1024px) {
    .intro, .over, .hoe, .reviews, .contact {
        padding-left: 15%; 
        padding-right: 15%; 
    }
    .intro__content__kiboe img {
        width: 250px; 
        margin-left: -40%; 
    }
    .over__content__image img {
        width: 350px; 
        height: 250px; 
        margin-left: 20px;
    }
    .hoe::before {
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        background-image: url('../images/planeet_paars.png'); 
        background-size: 25%; 
        background-repeat: no-repeat; 
        background-position: left top; 
        z-index: -1; 
    }
    .hoe::after {
        content: ""; 
        position: absolute; 
        bottom: 0; 
        right: 0; 
        width: 20%; 
        height: 20%; 
        background-image: url('../images/planeet-oranje.png'); 
        background-size: cover; 
        z-index: -1; 
    }
    .hoe h2 {
        margin-bottom: 8%; 
    }
    .hoe__content__step img {
        width: 50%; 
    }
    .hoe__content__arrow__right, .hoe__content__arrow__left {
        margin-left: 50%; 
    }
    .hoe__content__arrow__left {
        margin-left: 15%; 
    }
    .reverse {
        margin-left: 0;
    }
    .reverse .hoe__content__step img {
        margin-left: 0; 
        margin-right: 5%; 
    }
    .reverse .hoe__content__step__text {
        margin-right: 0; 
        margin-left: 5%; 
    }  
    #contact {
        position: relative;
        overflow: hidden;
        }
        #contact::before {
            content: ""; 
            position: absolute; 
            top: 40%;
            left: -60px;
            width: 350px; 
            height: 350px; 
            background-image: url('../images/kiboe_sport.svg'); 
            background-position: bottom left; 
            background-repeat: no-repeat;
            transform: rotate(20deg);
        }
        #contact::after {
            content: ""; 
            position: absolute; 
            top: 10%;
            right: -120px;
            width: 350px;
            height: 350px;
            background-image: url('../images/kiboe-huiswerk.svg'); 
            background-position: center right; 
            background-repeat: no-repeat;
            transform: rotate(-20deg);
        }
    .submit{
        width: 50%;
        margin-left: 25%;
    } 
    .footer__content__links {
        justify-content: flex-start; 
    }
    .footer__content__socials {
        justify-content: flex-end; 
    }
}

@media only screen and (min-width: 1200px) {
    .intro, .over, .hoe, .reviews, .contact{
        padding-left: 20%;
        padding-right: 20%;
    }
    .intro__content__kiboe img{
        width: 300px;
        margin-left: -45%;
    }
    .intro__content__text {
        flex-grow: 1;
    }
    .intro__content__text p {
        width: 380px;
    }
    .over__content__image img {
        width: 400px; 
        height: 300px;
        margin-left: 200px;
    }   
    .contact h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .hoe__content__step {
        display: flex;
        flex-direction: row;
    }
    .hoe__content__step img {
        width: 55%; 
    }
    .hoe__content__step__text {
        display: inline-block;
        margin-left: 5%;
        margin-top: 20px;
    }
    .hoe__content__arrow__right, .hoe__content__arrow__left{
        display: flex;
    }
    .hoe__content__arrow__right img, .hoe__content__arrow__left img{
        width: 150px;
    }
    .hoe__content__arrow__right{
        margin-left: 55%;
        margin-top:-5%;
    }
    .hoe__content__arrow__left{
        margin-left: 20%;
        margin-top:-5%;
    }
    .reverse {
        flex-direction: row-reverse; 
        margin-left: 5%;
        margin-top: 20px;
    }
    .reverse .hoe__content__step img {
        margin-left: 5%; 
        margin-right: 0;
    }
    .reverse .hoe__content__step__text {
        margin-left: 0; 
        margin-right: 5%; 
    }
    .reviews__content__single{
        width: 50%;
    }
    .submit{
        width: 50%;
        margin-left: 25%;
    }
    .contact form{
        padding:0%;
    }
    .contact__content{
        padding: 1em;
        margin-left: 150px;
    }
    .contact h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__content__links {
        justify-content: flex-start; 
    }
    .footer__content__socials {
        justify-content: flex-end; 
    }
}